@page  "/{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Index.css" />

<div class="text-center">
    @if (TempData["message"] != null)
    {
        <div class="col-sm-12 text-center">
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div class="col-sm-12 text-center">
            <div class="alert alert-danger">
                @TempData["error"]
            </div>
        </div>
    }
</div>
@if (Model.Stripovi.Any())
{
    <form method="post" asp-page-handler="Search">
        <div class="search">
            <input type="text" asp-for="Search">
            <button type="submit" class="search-btn">
                <svg width="15" height="15" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                Search
            </button>
        </div>
    </form>
    <form method="post" asp-page-handler="Search">
        <div class="filter-container">
            <div class="filter-box">
                <img id="1" src="~/images/MisterNO-icon.jpg" alt="" asp-append-version="true">
                <input id="input-1" type="submit" asp-for="Search" value="Mister NO" />
            </div>
            <div class="filter-box">
                <img id="2" src="~/images/Dilan-dog-icon.jpg" alt="" asp-append-version="true">
                <input id="input-2" type="submit" asp-for="Search" value="Dilan Dog" />
            </div>
            <div class="filter-box">
                <img id="3" src="~/images/alan-ford-icon.jpg" alt="" asp-append-version="true">
                <input id="input-3" type="submit" asp-for="Search" value="Alan Ford" />
            </div>
            <div class="filter-box">
                <img id="4" src="~/images/zagor-icon.jpg" alt="" asp-append-version="true">
                <input id="input-4" type="submit" asp-for="Search" value="Zagor" />
            </div>
            <div class="filter-box">
                <img id="5" src="~/images/blek-icon.jpg" alt="" asp-append-version="true">
                <input id="input-5" type="submit" asp-for="Search" value="Blek" />
            </div>
        </div>
        <div class="hamburger-menu-and-info">
            <svg width="50" height="50" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0
             1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1
             .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5
             0 0 1-.5-.5z" />
            </svg>
            <div class="info">
                <p><span>@Model.brojStripovauProdaji</span> STRIPA su u prodaji</p>
            </div>
            <div class="display-menu">
                <ul>
                    <li><input type="submit" asp-for="Search" value="Mister NO" /></li>
                    <li><input type="submit" asp-for="Search" value="Dilan Dog" /></li>
                    <li><input type="submit" asp-for="Search" value="Alan Ford" /></li>
                    <li><input type="submit" asp-for="Search" value="Zagor" /></li>
                    <li><input type="submit" asp-for="Search" value="Blek" /></li>
</ul>
            </div>
        </div>
    </form>
    <div class="card-container">
        @foreach (var item in Model.Stripovi)
        {
            var photoPath = "~/images/" + (item.imgRoute ?? "noimage.jpg");
            <form method="post" asp-page-handler="OnPostAsync">
                <div class="card">
                    <div class="card-img">
                        <img src="@photoPath" alt="" asp-append-version="true">
                    </div>
                    <div class="card-info">
                        <h3>@item.Naziv</h3>
                        <div class="info">
                            <ul>
                                <li>Naslov: <span>"@item.Naslov"</span></li>
                                <li>Izdavac: <span>@item.Izdavac</span></li>
                                <li>Jezik: <span>@item.Jezik</span></li>
                            </ul>
                            <ul>
                                <li>Cena: <span>@item.Cena</span></li>
                                <li>Stanje: <span>@item.Stanje</span></li>
                                <li>God. izdanja: <span>@item.GodinaIzdanja</span></li>
                            </ul>
                        </div>
                        <input hidden asp-for="IdStripaZaKorpu" value="@item.IdStripa" />
                        <button type="submit" class="btn-action">Stavi u korpu</button>
                    </div>
                </div>
            </form>
        }

    </div>
}
else
{
    <p>Trenutno nema Stripova (kliknite na <a asp-page="Index" style="color:deepskyblue">Home</a> da refresujete)</p>
}


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".filter-container .filter-box img").on('click', function () {
                var id = $(this).attr('id');
                $('.filter-container .filter-box #input-' + id).click();
            });


            $(".hamburger-menu-and-info .bi").click(function () {
                $(".hamburger-menu-and-info .display-menu").css({ display: 'block' });
            });
            $(".hamburger-menu-and-info .display-menu").mouseleave(function () {
                $(".hamburger-menu-and-info .display-menu").css({ display: 'none' });
            });

        });
    </script>
}
