@page
@model Stripovi.Web.Pages.Administrator.Kontakti.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="color:#E84545">Obrisi</h1>

<h3>Da li si siguran da zelis da obrises?</h3>
<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kontakt.ImePrezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kontakt.ImePrezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kontakt.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kontakt.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kontakt.Razlog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kontakt.Razlog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kontakt.Naslov)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kontakt.Naslov)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kontakt.Komentar)
        </dt>
        <dd class="col-sm-10">
            <textarea class="form-control col-sm-10">@Html.DisplayFor(model => model.Kontakt.Komentar)</textarea>
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Kontakt.Id" />
        <input type="submit" value="Obrisi" class="btn btn-danger" /> |
        <a asp-page="./Index">Nazad na listu</a>
    </form>
</div>
